<h1 class="center">Your API works!!</h1>

<p class="center-align">No need to confirm! We confirmed for you. If you are reading this then you have gotten a 00 action code. Yeah...</p>

<a href="/">Want to go home now?... Let's go!</a>