
<div class='row'>
	<div class='col s8 offset-s2'>
		<small class='right small-powered'>Powered by our friends at Visa</small>
	</div>
</div>

<div class='row'>
	<div class='col s8 offset-s2 main-donate-form'>
	<h5 class='center' style="color: black !important;">Donate Now!</h5>

	<div class="row">
    <form class="col s12" action='/api/v1/pull' method='POST'>
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" value="John">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" value="Doe">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" value="isAwesome@ohyeah.com">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
      	<div class="input-field col s12">
      		<input id="amount" type="number" class="validate" value="100000000">
      		<label for="amount">Amount In USD You'd Like To Donate</label>
      	</div>
      </div>
      <div class="row">
      	<div class="input-field col s12">
      		<input id="card_number" type="number" class="validate" value="123456787890">
      		<label for="card_number">Card Number</label>
      	</div>
      </div>
      <div class="row">
      	<div class="input-field col s6">
      		<select name='expireMM' id='expireMM'>
			    <option value=''>Month</option>
			    <option value='01'>Janaury</option>
			    <option value='02'>February</option>
			    <option value='03'>March</option>
			    <option value='04'>April</option>
			    <option value='05'>May</option>
			    <option value='06'>June</option>
			    <option value='07'>July</option>
			    <option value='08'>August</option>
			    <option value='09'>September</option>
			    <option value='10'>October</option>
			    <option value='11'>November</option>
			    <option value='12'>December</option>
			</select> 
		</div>
		<div class="input-field col s6">
			<select name='expireYY' id='expireYY'>
			    <option value=''>Year</option>
			    <option value='10'>2016</option>
			    <option value='11'>2017</option>
			    <option value='12'>2018</option>
			    <option value='12'>2019</option>
			    <option value='12'>2020</option>
			    <option value='12'>2021</option>
			    <option value='12'>2024</option>
			    <option value='12'>2023</option>
			</select> 
		</div>
			<input class="inputCard" type="hidden" name="expiry" id="expiry" maxlength="4"/>
      	</div>
      
      <button class="waves-effect waves-light btn" style='width: 100%;' type='submit'>Submit!</button>
      </div>
    </form>
  </div>

	</div>
</div>