@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,700);
@import "materialize";
@import "bootcamps";
@import "static_pages";
@import "locations";
@import "visa";

.my-nav {
	padding-left: 25px;
	padding-right: 25px;
	background-color: transparent;
	box-shadow: none;
}