// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-thumb {
	margin-right: 25px;
	cursor: pointer;
}

.right-thumb {
	margin-left: 25px;
	cursor: pointer;
}

.location-holder {
	margin-top: 10vh;
	margin-bottom: 10vh;
	margin-left:auto;
	margin-right: auto;
	width: fit-content;
	background-color: rgba(165,223,249, 0.9);
	min-height: 50vh;

}

.location-name {
	margin: 30px;
}