// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card .card-image img {
	
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	
	display: inline-block;
	vertical-align: middle;
}

#card_helper {
	display: inline-block;
    height: 100%;
    

}