// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	background-image: image-url("background.jpg");
	background-color: #58C9B9;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: none;
	height: 100vh;
	position: relative;
}

body {
	background-color: rgba(255, 255, 255, 0.3);
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}


  main {
    flex: 1 0 auto;
  }

.card-changer {
	height: 250px;
	width: 200px;
	margin: 0 auto;
	// background-color: #58C9B9;
}

.entire-card, .card-reveal {
	// background-color: #58C9B9 !important;
	opacity: 0.9;
}

.log-holder {
	// padding: 50px;

}

.login-holder {
	background-color: rgba(255, 255, 255, 0.8) !important;
	color: black !important;
	margin: 10vh 5vh 0;
	height: 370px !important;
	width: 300px;
}

.sign-up {
	background-color: rgba(255, 255, 255, 0.8) !important;
	margin: 2vh;
}
.card .card-image img {

	position:absolute;
	top:0;
	bottom:0;
	margin:auto;

	display: inline-block;
	vertical-align: middle;
}

#card_helper {
	display: inline-block;
    height: 100%;

}

.bootcamp-name {
	font-size: 22px !important;
}

.logo-centered {
	margin-top: 70px;
	color: white !important;
}

.home-text {
	margin-top: 30px;
	color: white !important;
}

.home-row {
	margin-top: 10vh;
	margin-bottom: 20vh;
	background-color: #58C9B9;
	width: 100%;
	min-height: 40vh;
	padding: 10vh 3vh;
}

.home-icon {
	font-size: 200px !important;
	color: white !important;
	padding-bottom: 100px;
}

.logo-home {
	height: 100px;
}

footer {
	color: white !important;
	background-color: rgba(157,200,200, 0.5) !important;
}