<!DOCTYPE html>
<html>
<head>
  <title>Emerge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ1cvtS0cGzzgrLIgYOOTj8tkleVVu0Jo&libraries=places&callback=initMap" async defer></script>
</body>
</html>
